<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>A Web for Everybody</title>

		<meta name="description" content="A Web for Everybody">
		<meta name="author" content="Marcy Sutton">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic" rel="stylesheet" type="text/css">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/material.css">
		<link rel="stylesheet" href="css/theme/marcysutton.css">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<script src="lib/js/jquery-1.11.1.min.js"></script>

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>
		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>
		<h1 class="offscreen">A Web for Everybody by Marcy Sutton</h1>
		<div class="reveal">

			<div class="slides">
				<section>
					<h2 class="h3-style">Hi, SmashingConf Whistler!</h2>
					<iframe title="1985 Breckenridge Ski Ballet" width="960" height="720"src="//www.youtube.com/embed/Awkqte1mgcs?rel=0" frameborder="0" allowfullscreen></iframe>
				</section>

				<section>
					<h2>What if you couldn't:</h2>
					<ul>
						<li>do ski ballet</li>
						<li>use a mouse</li>
						<li>see the screen</li>
						<li>perceive colors</li>
						<li>hear audio content</li>
					</ul>
					<h3 class="h1-style" aria-hidden="true">?</h3>
				</section>

				<section>
					<h2 class="h1-style" style="margin-bottom: 0.25em;">Web Accessibility</h2>
					<p class="big-italic">Everyone can perceive, understand, navigate, and interact with the Web, and  they can contribute to the Web.</p>
					<aside class="notes">
					<p><a href="http://www.w3.org/WAI/intro/accessibility.php" target="_blank" title="Link opens in a new window">W3C definition</a></p>
					<p>Millions of people have disabilities that affect their use of the Web.</p>
					<p>Web accessibility also benefits people without disabilities.</p>
					</aside>
				</section>

				<section>
					<h2 class="h3-style" style="margin-bottom: 1em;">Accessibility is about people.</h2>
					<div class="collage">
            <a href="http://www.advocacynet.org/">
              <img src="img/a11y-montage/smiling-boy-computer.jpg" alt="Boy smiling with computer">
            </a>
            <a href="http://weblogs.baltimoresun.com/health/2010/01/new_magazine_for_people_with_d.html">
              <img src="img/a11y-montage/guide-dog-hallway.jpg" alt="Woman with guide dog in hallway">
            </a>
            <a href="http://ec.europa.eu/justice/discrimination/disabilities/index_en.htm">
              <img src="img/a11y-montage/disability-painting.jpg" alt="Man painting">
            </a>
            <a href="http://mashable.com/2011/07/25/ipads-disabilities/">
              <img src="img/a11y-montage/iPad-mentor.jpg" alt="Boy with mentor">
            </a>
            <a href="http://www.thestar.com/news/gta/2011/01/31/program_helps_disabled_find_work.html">
              <img src="img/a11y-montage/amy-guide-dog-thestar.jpg" alt="Woman with Guide Dog">
            </a>
          </div>
          <aside class="notes">
            I like accessibility because it's an innovative challenge that has potential to help people.
          </aside>
				</section>

				<section>
					<h2 class="h1-style">A Web for Everybody</h2>
					<p>Marcy Sutton, Developer @Substantial<br>Angular.js Accessibility &amp; Material Design</p>
					<p><a href="http://bit.ly/smashingconf">http://bit.ly/smashingconf</a></p>
          <aside class="notes">
          Legal argument vs. innovation argument
          </aside>
				</section>

				<section>
					<h2>Today!</h2>
					<ul>
						<li>Assumptions</li>
            <li>Accessible UIs</li>
						<li>Web Components</li>
						<li>Resources</li>
					</ul>
				</section>

				<section>
					<h2 class="h1-style">Assumptions about Users</h2>
					<aside class="notes">
					"Accessibility is a niche, a small audience."
					"Disabled people don't need a fitness app."
					"Why would a blind person need a camera?"
					By considering that a disabled person would have a need for your product, you are a supporter of accessibility.
					</aside>
				</section>

				<section>
					<ul class="checkboxes left-aligned">
						<li class="checked">Disabled people cook.</li>
						<li class="checked">Disabled people travel.</li>
						<li class="checked">Disabled people work out.</li>
						<li class="checked">Disabled people drink whiskey.</li>
						<li class="checked">Disabled people take pictures.</li>
					</ul>
				</section>

				<section>
					<blockquote class="small">&ldquo;The tree is done! Pic courtesy of BlindChick photography&hellip;bad focus is strictly the blind girl&rsquo;s fault.&rdquo;
						<cite>Sarah Outwater on Facebook</cite>
					</blockquote>
					<img src="img/sassy-tree.jpg" alt="Christmas tree" style="max-height: 620px;">
				</section>

				<section>
					<h2 class="h1-style">Disabled people are <br>early adopters.</h2>
					<aside class="notes">
						<p>And you know why? Because mobile devices improve quality of life.</p>
						<p>Accessibility shouldn't be an afterthought.</p>
					</aside>
				</section>

				<section>
					<h2>Tech Lifelines</h2>
					<ul>
						<li>Social networks</li>
						<li>Text-to-speech</li>
						<li>Speech recognition</li>
						<li>Braille/tactile devices</li>
						<li>Live captioning</li>
						<li>Image recognition</li>
						<li>Accessible maps</li>
					</ul>
					<aside class="notes">
						Mobile devices improve quality of life.
						Live Captioning for Glass by Georgia Tech research
					</aside>
				</section>

				<section>
					<h2 class="h1-style">Include accessibility <br>from the start.</h2>
				</section>

        <section>
          <h2 class="h3-style">On inaccessible user interfaces:</h2>
          <p><a href="https://twitter.com/dalecruse/status/535571703611785216"><img src="img/dale-tweet.png" alt="@marcysutton Here’s the thing: The web is accessible by nature. We developers turn off features. Why? Somehow we still don’t know our tools. Dale Cruse (@dalecruse)November 20, 2014" class="plain"></a></p>
        </section>

        <section>
          <h2>"Interactive" means something.</h2>
          <ul>
            <li><code>cursor: pointer;</code></li>
            <li><code>element.on('click')</code></li>
            <li><code>outline: none;</code></li>
          </ul>
        </section>

        <section>
          <h2 class="h3-style">Enable the keyboard!</h2>
          <pre><code class="html">
 &lt;core-item style="cursor:pointer;"&gt;Inbox&lt;/core-item&gt; // NOPE.
          </code></pre>
          <pre><code class="html">
 &lt;button ng-click="clickHandler()"&gt;Inbox&lt;/button&gt; // YEP!
          </code></pre>

          <pre><code class="html">
 &lt;md-button role="button" tabIndex="0"
    ng-click="heckYeah()" ng-keypress="heckYeah()"&gt;
    Inbox
 &lt;/md-button&gt;
          </code></pre>

          <aside class="notes">
          Challenge the concept of "interactive". PERCEIVABLE and OPERABLE. Robust. Understandable.
          </aside>
        </section>

        <section>
          <h2>"Semantic" means something.</h2>
          <img src="img/generic-vs-semantic.png" style="min-height: 600px;" alt="Generic vs. semantic HTML">
        </section>

        <section>
          <h2>Adding semantics <br>to components</h2>
          <ul>
            <li>Use native elements</li>
            <li>Add <a href="http://www.w3.org/TR/aria-in-html/" target="_blank" title="Link opens in a new window">ARIA</a> attributes</li>
            <li><a href="http://pascalprecht.github.io/2014/07/14/inheritance-and-composition-with-polymer/" target="_blank" title="Link opens in a new window">Extend</a> native elements*</li>
          </ul>
        </section>

        <section>
          <h2 class="h3-style">ARIA Core Components</h2>
          <div class="definition inset-width">
            <h3 class="h5-style">Roles</h3>
            <p class="smaller">What does this thing do?</p>
            <pre><code class="html">
   &lt;div role="img" style="background-image..."
            </code></pre>
          </div>
          <div class="definition inset-width">
            <h3 class="h5-style">States</h3>
            <p class="smaller">The current condition of this particular thing</p>
            <pre><code class="html">
        &lt;md-input aria-disabled="true"...
            </code></pre>
          </div>
          <div class="definition inset-width">
            <h3 class="h5-style">Properties</h3>
            <pre><code class="html">
      &lt;md-checkbox aria-label="Subscribe"...
            </code></pre>
          </div>
        </section>

        <section>
          <h2 class="h1-style">Use the simplest abstraction possible.</h2>
          <p>Don't overdo it.</p>
        </section>

        <section>
          <h2 style="margin-bottom:0;">People Will Travel</h2>
          <p style="margin-bottom: 1em;"><a href="http://virginamerica.com/" target="_blank">keyboard demo</a></p>
          <iframe width="960" height="600" src="//www.youtube.com/embed/8ZbYJSqE0EM?rel=0" frameborder="0" allowfullscreen></iframe>
        </section>

        <section>
          <h2>Sass</h2>
          <pre><code class="css">
  .navlist--main > li > a
    color: $white
    display: block

    &amp;:hover
      text-decoration: underline

          </code></pre>
        </section>

        <section data-transition="none">
          <h2>Sass (corrected)</h2>
          <pre><code class="css">
  .navlist--main > li > a
    color: $white
    display: block

    &amp;:hover, &amp;:focus
      text-decoration: underline

          </code></pre>
        </section>

        <section>
          <a href="http://marcysutton.github.io/angular-a11y/demos/scroll-ui/" target="_blank" title="Link opens in a new window">
            <h2>Let&rsquo;s Try This Again</h2>
            <p>Accessible Scroll UI Demo</p>
          </a>
        </section>

        <section>
          <h2 class="h3-style">Handling Focus</h2>
          <div class="full-screen-code">
            <pre><code class="javascript">
 $scope.$watch('airportIsSelected', function(newValue){
  if(newValue){
    $('html,body').animate({
      scrollTop: peoplePicker.offset().top
    }, 600);

    peoplePicker.find('button').first().focus();

    $rootScope.$broadcast('statusUpdated', self.selectedAirport);
   }
 });
            </code></pre>
          </div>
        </section>

        <section>
          <h2 class="h3-style">Alerting the User</h2>
          <pre><code class="html">
  &lt;status-bar aria-live="polite"&gt;&lt;/status-bar&gt;
          </code></pre>
          <pre><code class="javascript" style="max-height: 540px;">
  function statusBarDirective($scope, $element, $attrs) {
    element.attr({
      'role' : 'region'
    });
    $scope.$on('statusUpdated', function(scope, message) {
      $element.html(message.text);
    });
  }
          </code></pre>
        </section>

        <section>
          <h2>Whiskey Business</h2>
          <a href="https://drinkdistiller.com/#!/profile/manhattan-mary/top_shelf" target="_blank" title="Link opens in a new window"><img src="img/distiller-top-shelf.png" alt="DrinkDistiller.com"></a>
        </section>

        <section>
          <h2>Focus Management</h2>
          <pre><code class="coffeescript">
 class App.FocusManager
   constructor: ->
     $('body').on 'focusin', (e) =>
       @oldFocus = $(e.target)

     App.bind 'rendered', (e) =>
       return unless @oldFocus
       @_focusById() if @oldFocus.data('focus-id')

   _focusById: ->
     focusId = @oldFocus.data('focus-id')
     newFocus = document.querySelector("##{focusId}")
     MyApp.focus(newFocus) if newFocus
          </code></pre>
        </section>

        <section>
          <h2>Responsive Images</h2>
          <pre><code class="html">
  &lt;div role="img" style="background: url(corner-creek.gif)"
       aria-label="Corner Creek Kentucky Bourbon"&gt;&lt;/div&gt;
          </code></pre>
          <pre><code class="css">
       [role=img] {
         background-size: cover;
         background-position: center right;
         height: 100%;
         width: 100%;
       }
          </code></pre>
          <p><a href="http://codepen.io/marcysutton/pen/yJFjg">Codepen Experiment</a></p>
        </section>

        <section>
          <img style="min-height: 600px;" src="img/ostrich-skiing.gif" alt="Ostrich skiing">
        </section>

				<section>
					<h2>The Future is Here</h2>
					<img src="img/web-components-org.jpg" alt="WebComponents.org redesigned with tacos">
					<aside class="notes">
						What are Web Components?
					</aside>
				</section>

        <section>
          <h2 class="h3-style">Taco buttons for all</h2>
          <p><a href="https://twitter.com/adactio/status/541888105020932096"><img src="img/adactio-tweet.png" alt="@marcysutton @stevefaulkner I think that button is="taco-button" should become the canonical “Hello, world!” of web components. -@adactio December 8, 2014" class="plain"></a></p>
        </section>

				<section>
					<h2>Typical Web Component</h2>
					<a href="demos/basic-list-box/" target="_blank" title="Link opens in a new window"><img src="img/webcomponent-listbox.png" alt="Listbox Web Component" style="min-height: 500px;"></a>
					<aside class="notes">
						What is the accessibility problem?
            SHOW the SOURCE!!!!!
					</aside>
				</section>

				<section>
					<h2>The Accessibility Tree</h2>
					<figure>
						<img src="img/chrome-accessibility-listbox.png" alt="Chrome Accessibility tree for Listbox Web Component">
						<figcaption>chrome://accessibility/</figcaption>
					</figure>
				</section>

				<section>
					<h2>Web Components</h2>
					<ul>
						<li>Reusable widgets of your dreams</li>
						<li class="fragment">Custom elements</li>
						<li class="fragment">Encapsulation</li>
						<li class="fragment">Reinventing the Web</li>
						<li class="fragment">&lt;div&gt; soup</li>
						<li class="fragment">Dependency hell</li>
						<li class="fragment">BRB jumping out window</li>
					</ul>
					<aside class="notes">
						It's about expectations: we expect that it would take no time at all to style and wire up a button. An &lt;md-button&gt; or &lt;core-whatever&gt; should make it as easy as possible to add an interactive element. When it doesn't work by default, we want to flip tables.
						*Reinventing the wheel
					</aside>
				</section>

				<section>
					<h2>Is your element accessible?</h2>
					<ul class="left-align">
						<li>Can you use your element with the keyboard only?</li>

						<li>Can you use your element with a screen reader?</li>

						<li>Can your element work without sound?</li>

						<li>Can it work without color?</li>

						<li>Can your element work with high-contrast mode enabled?</li>
					</ul>
					<p>Source: <a href="https://www.polymer-project.org/articles/accessible-web-components.html" target="_blank" title="Link opens in a new window">Accessible Web Components, Part 1</a></p>
				</section>

				<section>
					<h2>Revisiting the Basic List Box</h2>
					<a href="demos/basic-list-box-a11y/" target="_blank" title="Link opens in a new window"><img src="img/webcomponent-listbox-a11y.png" alt="Accessible Listbox Web Component" style="min-height: 500px;"></a>
				</section>

        <section>
					<h2>Testing Tools</h2>
					<ul class="small">
						<li>Your Keyboard</li>
						<li>VoiceOver (iOS, OSX)</li>
						<li>TalkBack (Android)</li>
						<li>JAWS, WindowEyes, NVDA</li>
						<li><a href="https://www.virtualbox.org/" target="_blank" title="Link opens in a new window">Virtual Box</a></li>
            <li><a href="https://www.modern.ie/en-us/virtualization-tools" target="_blank" title="Link opens in a new window">Modern.ie Windows VMs</a></li>
            <li><a href="https://chrome.google.com/webstore/detail/accessibility-developer-t/fpkknkljclfencbdbgkenhalefipecmb?hl=en" target="_blank" title="Link opens in a new window">Chrome Accessibility Dev Tools</a></li>
					</ul>
        </section>

        <section>
          <h2>Resources</h2>
          <ul>
            <li><a href="http://www.w3.org/TR/aria-in-html/" target="_blank" title="Link opens in a new window">Using ARIA in HTML</a></li>
            <li><a href="http://www.w3.org/TR/html-alt-techniques/" target="_blank" title="Link opens in a new window">Providing Text Alternatives</a></li>
            <li><a href="http://webaim.org/projects/screenreadersurvey5/" target="_blank" title="Link opens in a new window">WebAIM Screen Reader Survey</a></li>
            <li><a href="http://substantial.com/blog/2014/02/05/accessibility-and-the-shadow-dom/" target="_blank" title="Link opens in a new window">Accessibility and the Shadow DOM</a></li>
            <li><a href="http://substantial.com/blog/2014/07/22/how-i-audit-a-website-for-accessibility/" target="_blank" title="Link opens a new window">How I Audit a Website for Accessibility</a></li>
            <li><a href="https://docs.angularjs.org/guide/accessibility/" target="_blank" title="Link opens in a new window">Angular.js A11Y Developer Guide</a></li>
          </ul>
        </section>

        <section>
					<h2 class="h1-style">It's up to us to make the Web more accessible.</h2>
					<aside class="notes">
					We're being told "this is the future of the Web" yet often it's completely inaccessible.
					Patience vs. making noise.
					Make it more accessible by building it in to every project, documenting and sharing how you did it.
					Take it as an innovation challenge.
					</aside>
        </section>

        <section>
          <h2 style="margin-top: 0.5em;">Thanks, Smashing Conf!</h2>
					<img src="img/this-dog-can-ski.gif" alt="Dog on skis" style="min-height: 300px;">
        </section>
 			</div>

			<footer>
        <p class="copyright">A Web for Everybody<br>
          <a href="http://twitter.com/marcysutton" target="_blank" title="Link opens in a new window">@marcysutton</a> <span aria-hidden="true">/</span> <a href="http://marcysutton.com" target="_blank" title="Link opens in a new window">MarcySutton.com</a></p>
      </footer>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>
		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				// The "normal" size of the presentation, aspect ratio will be preserved
		    // when the presentation is scaled to fit different resolutions. Can be
		    // specified using percentage units.
		    width: 1440,
		    height: 900,

		    // Factor of the display size that should remain empty around the content
		    margin: 0.1,

		    // Bounds for smallest/largest possible scale to apply to content
		    minScale: 0.2,
		    maxScale: 1.0,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'fade', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/accessibility-helpers/accessibility-helpers.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'lib/js/slides.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});
		</script>
	</body>
</html>
